<!-- About Section -->

    <section id="tutorials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tutorial videos</h2>
                    <h3 class="section-subheading text-muted">Here we present a couple of videos that shows how easy it is to use Kooplex.<br>To display the videos click on the images!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
				<a href="demo_videos/login.mp4">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="" style="background-color:white;">
				</a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Login authentication</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You have two options to use Kooplex. Whether you can register directly to Kooplex, or if you are member of a university, you can authenticate yourself via eduID.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
  				<a href="demo_videos/amr.mp4">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
				</a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Launch your first project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After the login, you may need to create a project to start working. Each project has separated virtual environment and an own scope providing a secure workflow.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
				<a href="demo_videos/amr.mp4">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
				</a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Add collaborators</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By default your projects are private, you are the only one who can see it. With a few clicks you can easily add collaborators and share your work with other Kooplex users making collaborative work seamless. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
				<a href="demo_videos/edu.mp4">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
				</a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Kooplex usage for education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">KooplexEDU provides a programming homework management ecosystem. Teachers can send out, collect and correct homeworks through the KooplexEDU platform. The students are not required to take care of software installation and package management, they can work from any computer using a browser. Currently only supported for ELTE students, but if you are interested, contact us below!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
